nav {
  list-style-type: none;
  background-color: orange;
  Text-color: red;
  width: 100%;
  position: static;
  left: 0;
  top: 0;
}

.navli a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 5px;
}

.navli a:hover {
  background-color: antiquewhite;
  color: orange;
}

#water{
  Background-color: orange;
  Width: 100%;
  Border: dotted 10px;
}
#pics{
    background-color: orange;
  width: 100%;
  height: 1000vh;
}


#pics{
  Background color: blue;
  
}
img {
  border-radius: 200%;
  border: dotted 5px;
  border-color: aqua;
}
img:hover{
  border-radius: 10%;
}

#Yugi {
  background-color: aqua;
  height: 10vh;
  width: 100px;
  text-align: center;
}

#Kai {
  background-color: cyan;
  font-family: "Lucida Console", "Courier New", monospace;
   height: 5vh;
}

#King {
  font-size: 50px;
  border: solid;
  height: 10vh;
}

.water {
  width: 100%;
  height:100vh;
  display: flex;
  position: absolute;
  justify-content: space-evenly;
}

